<section class="statistics">
  <div class="container">
    <div class="statistics__text">
      <h2>{{advancedText}}</h2>
      <p>
        {{contentAdvancedText}}
      </p>
    </div>
    <div class="statistics__data">
      <div class="statistic">
        <img
          [src]="recognitionLogo"
          alt="recognition-icon"
        />
        <h3>{{recognitionText}}</h3>
        <p>
          {{detailRecognitionText}}
        </p>
      </div>
      <div class="statistic">
        <img
          [src]="recordDetailLogo"
          alt="records-icon"
        />
        <h3>{{detailRecordText}}</h3>
        <p>
          {{contentRecordText}}
        </p>
      </div>
      <div class="statistic">
        <img
          [src]="fullyCustomLogo"
          alt="customizable-icon"
        />
        <h3>{{customizableText}}</h3>
        <p>
          {{contentCustomizableText}}
        </p>
      </div>
    </div>
  </div>
</section>
