<footer class="footer">
  <nav class="footer-navigation | container">
    <a href="#"><img [src]="whiteLogo" alt="white-logo" /></a>
    <ul
      id="footer-navigation"
      role="list"
      class="nav-list"
      aria-label="footer navigation"
    >
      <li>{{featuresText}}</li>
      <li>{{linkShorteningText}}</li>
      <li>{{brandedLinksText}}</li>
      <li>{{analyticsText}}</li>
      <li>{{resourcesText}}</li>
      <li>{{blogText}}</li>
      <li>{{developersText}}</li>
      <li>{{supportText}}</li>
      <li>{{companyText}}</li>
      <li>{{aboutText}}</li>
      <li>{{ourTeamText}}</li>
      <li>{{careersText}}</li>
      <li>{{contactText}}</li>
    </ul>
    <ul id="social-links"
        role="list"
        class="social-links"
        aria-label="social links list"
    >
      <li><img [src]="facebookLogo" alt="facebook-icon" /></li>
      <li><img [src]="twitterLogo" alt="twitter-icon" /></li>
      <li><img [src]="pinterestLogo" alt="pinterest-icon" /></li>
      <li><img [src]="instagramLogo" alt="instagram-icon" /></li>
    </ul>
  </nav>
</footer>
