<div class="flex flex-col gap-8">
  <div class="bg-custom-violet bg-cover py-8 px-12 rounded-lg">
    <div class="flex flex-col md:flex-row gap-4"> <!-- Use flex-row for desktop view -->
      <input
        id="url"
        type="text"
        name="url"
        placeholder="Enter your link here"
        required
        class="border-none border-radius-25 py-4 px-8 w-full"
        [(ngModel)]="url.original_link"
        (input)="onInput()"
      />
      <button
        class="
        rounded-md
        w-full md:w-[188px]
        h-[62px]
        px-[36px]
        py-[16px]
        bg-[#2DD4BF]
        text-white
        hover:bg-[#0D9488]
        active:bg-[#0F766E]
        transition-colors
        transition-duration-300
      "
        (click)="onSubmit()"
      >
        {{shortenText}}
      </button>
    </div>
    <p *ngIf="showError" class="p-2 text-red-500">{{pleaseAddText}}</p>
  </div>

  <div *ngIf="shortLinks.length > 0" class="flex flex-col gap-4">
    <p class="p-2">{{yourLinksText}}</p>
    <div
      *ngFor="let dataUrl of shortLinks index as i;"
      class="flex sm:flex-col sm:gap-4 bg-white bg-cover py-4 px-6 rounded-lg"
    >
      <div class="lg:flex lg:justify-between items-center">
        <p class="text-full-link">
          {{dataUrl.original_link}}
        </p>
        <p class="text-short-link">
          {{dataUrl.full_share_link}}
        </p>
        <button
          class="
      rounded-md
      w-full md:w-[177px]
      h-[62px]
      px-[36px]
      py-[16px]
      bg-[#2DD4BF]
      text-white
      hover:bg-[#0D9488]
      active:bg-[#0F766E]
      transition-colors
      transition-duration-300
    "
          (click)="copyLink(dataUrl.full_short_link, i)"
        >
          {{ dataUrl.copied ? 'Copied' : 'Copy' }}
        </button>
      </div>
    </div>
  </div>
</div>
